<article id="about" style="width: 50rem;">

	<h1>{{ page.id }}</h1>
	<br>
	<h2>{{ site.author }}</h2>
	<ul>
		<p>Ph.D. Candidate, {{ site.loc1-author }}</p>
		<p>pre-IRTA Fellow, {{ site.loc2-author }}</p>
	</ul>
	<hr>
	<p>
		A blend of scientific curiosity with cutting-edge computational techniques, Richard dives into the world of molecular interactions using advanced computer tools to unravel the mysteries driving life's biological processes.
	</p>
	<br>
	<p>
		In his research, he's focused on tasks like understanding how enzymes work through simulations and finding potential new drugs through computer-based screening. His projects are pushing the boundaries of what's possible in biochemistry, offering a glimpse into the future of scientific discovery.
	</p>
<br>
	<p>
		Step into a world where each experiment is a step closer to unlocking the secrets of life.
	</p>
</article>