<div class="about">
    <div class="cover-author-image">
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/img/{% if site.author-img %}{{site.author-img}}{% endif %}" alt="{{site.author}}"></a></div>
        <div class="author-name">{{site.author}}</div><br>
    <a href="{{site.baseurl}}/about/">About Me</a><br>
    <a href="{{site.baseurl}}/pdf/cv.pdf">CV</a><br>
    <a href="https://sites.google.com/view/ccats-group" >CCATS (OU)</a><br>
    <a href="https://www.lobos.nih.gov/cbs/cbs.shtml">LoBos CBS (NHLBI)</a><br>
</div>