<ul class="icons">
    <li><a href="https://scholar.google.com/{{site.social-google}}" class="icon brands fa-google"><span class="label">Google</span></a></li>
    <li><a href="https://twitter.com/{{site.social-twitter}}" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
    <li><a href="http://github.com/{{site.social-github}}" class="icon brands fa-github"><span class="label">Github</span></a></li>
    <li><a href="https://in.linkedin.com/in/{{site.social-linkedin}}" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
    <li><a href="mailto:{{site.social-email}}" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
</ul>
