<ul class="icons">
    <li><a href="https://scholar.google.com/{{site.social-google}}" class="icon brands fa-google"
            style="background-color: rgba(54, 58, 61, 0.634);"><span class="label">Google</span></a></li>
    <li><a href="https://twitter.com/{{site.social-twitter}}" class="icon brands fa-twitter"
            style="background-color: rgba(54, 58, 61, 0.634);"><span class="label">Twitter</span></a></li>
    <li><a href="http://github.com/{{site.social-github}}" class="icon brands fa-github"
            style="background-color: rgba(54, 58, 61, 0.634);"><span class="label">Github</span></a></li>
    <li><a href="https://in.linkedin.com/in/{{site.social-linkedin}}" class="icon brands fa-linkedin"
            style="background-color: rgba(54, 58, 61, 0.634);"><span class="label">LinkedIn</span></a></li>
    <li><a href="mailto:{{site.social-email}}" class="icon solid fa-envelope"
            style="background-color: rgba(54, 58, 61, 0.634);"><span class="label">Email</span></a></li>
</ul>