<nav id="nav">
    <ul>
        <li class="special">
                <a href="#menu" class="menuToggle"><span>Menu</span></a>
                <div id="menu">
                    <ul>
                        {% for item in site.data.navigation %}
                                <li>
                                    <a href="{{ item.link }}">{{ item.name }}</a>
                                </li>
                        {% endfor %}
                        <li> 
                            <a href="/resources/">resources</a>
                                <div class="dropdown">
                                    <div class="dropdown-content">
                                        <a href="/terminal/" style="padding-left: 5%;"><span>&#10148;</span> Command Line</a>
                                        <a href="/python/" style="padding-left: 5%;"><span>&#10148;</span> Python</a>
                                        <a href="/simulations/" style="padding-left: 5%;"><span>&#10148;</span> Simulations</a>
                                        <a href="/helpfultools/" style="padding-left: 5%;"><span>&#10148;</span> Helpful Tools</a>
                                    </div>
                                </div>
                        </li>
                    </ul>
                 </div> 
                        <!-- <li>
                            <a href="/terminal/" style="padding-left: 5%;"><span>&#10148;</span> Command Line</a>
                        </li>
                        <li>
                            <a href="/python/" style="padding-left: 5%;"><span>&#10148;</span> Python</a>
                        </li>
                        <li>
                            <a href="/simulations/" style="padding-left: 5%;"><span>&#10148;</span> Simulations</a>
                        </li>
                        <li>
                            <a href="/helpfultools/" style="padding-left: 5%;"><span>&#10148;</span> Helpful Tools</a>
                        </li> -->
                        <!-- <a>Contact</a>
                        <ul class="icons">
                            <li><a href="https://scholar.google.com/{{site.social-google}}" class="icon brands fa-google" style="font-size: 2em;"><span class="label">Google</span></a></li>
                            <li><a href="https://twitter.com/{{site.social-twitter}}" class="icon brands fa-twitter" style="font-size: 2em;"><span class="label">Twitter</span></a></li>
                            <li><a href="http://github.com/{{site.social-github}}" class="icon brands fa-github" style="font-size: 2em;"><span class="label">Github</span></a></li>
                            <li><a href="https://in.linkedin.com/in/{{site.social-linkedin}}" class="icon brands fa-linkedin" style="font-size: 2em;"><span class="label">LinkedIn</span></a></li>
                            <li><a href="mailto:{{site.social-email}}" class="icon solid fa-envelope" style="font-size: 2em;"><span class="label">Email</span></a></li>
                        </ul> -->
                    </ul>
                    												
                </div>
        </li>
        
    </ul>
</nav>

