<article id="presentations" style="width: 60rem;">
	<h1>Presentations</h1>
		<h3>Talks</h3>
		<ul>
			{% for talk in site.data.talks %}
			{% if talk.type == 'oral' %}
			<li>
				<p><b>{{ talk.name }}</b>, {{ talk.location }}, {{talk.month}} {{ talk.year }}</p>
			</li>
			{% endif %}
			{% endfor %}
		</ul>
		<h3>Posters</h3>
		<ul>
			{% for talk in site.data.talks %}
			{% if talk.type == 'poster' %}
			<li>
				<p><b>{{ talk.name }}</b>, {{ talk.location }}, {{talk.month}} {{ talk.year }}</p>
			</li>
			{% endif %}
			{% endfor %}
		</ul>
</article>