<article id="publications" style="width: 65rem;">

    <h1>Publications</h1>
    <h3>
        <a href="{{ site.social-google }}">Google Scholar</a>
    </h3>

    {% assign sorted_publications = site.data.publications | sort: 'date' | reverse %}

    <div class="tab">
        {% for item in sorted_publications %}
        <button class="tablinks" onclick="opentab(event, '{{ item.date }}')" {% if forloop.first %}id="defaultOpen" {%
            endif %}>{{ item.date }}</button>
        {% endfor %}
    </div>

    <!-- Calculate the total number of papers  -->
    {% assign total_papers = 0 %}
    {% for item in sorted_publications %}
    {% assign total_papers = total_papers | plus: item.papers.size %}
    {% endfor %}

    {% for item in sorted_publications %}
    <div id="{{ item.date }}" class="tabcontent">
        <ol start="{{ total_papers }}" reversed>
            {% assign total_papers = total_papers | minus: item.papers.size %}
            {% for paper in item.papers reversed %}
            <li>
                <p>
                    {% for name in paper.author %}
                    {{ name }},
                    {% endfor %}
                    "{{ paper.title | capitalize }}",
                    <em>{{ paper.parent.title }}</em>,
                    <b>{{ item.date }}</b>,
                    <a href="http://doi.org/{{ paper.doi }}">DOI: {{ paper.doi }}</a>
                </p>
                <br>
            </li>
            {% endfor %}
        </ol>
        <p>Total: {{ item.papers.size }}</p>
    </div>
    {% endfor %}

    <script>
        function opentab(evt, tabname) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabname).style.display = "block";
            evt.currentTarget.className += " active";
        }
        document.getElementById("defaultOpen").click();
    </script>
</article>
