---
layout: pages 
permalink: /terminal/
---

<article id="main">
    <header>
        <h2>Terminal</h2>
        <p>I wish I had this sooner</p>
    </header>    
    <section class="wrapper style5">
        <ul class="inner">
            <h3>BASH</h3>
            {% for item in site.data.terminal-nav %}
            <li>
                <a href="{{ item.link }}">{{ item.name }}</a>
            </li>
            {% endfor %}
            <br />
            <h3>SLURM</h3>
            {% for item in site.data.slurm-nav %}
            <li>
                <a href="{{ item.link }}">{{ item.name }}</a>
            </li>
            {% endfor %}
        </ul>
        
        <br/>
    </section>
</article>
            
