<!DOCTYPE HTML>
<html>
	{% include head.html %}
	<body class="landing is-preload">
		<div id="page-wrapper">
			<header id="header" class>
				<h1>
					<a href="index.html" style="text-transform: none;"> adVANtures</a>
				</h1>
				{% include navigation.html %}
			</header>
			
			<section id="banner">
				<div class="inner" style="background-color: #00000044;">
						<h2>{{ site.author }}<br />
						</h2>
						<p>Computational Biochemistry<br />
						</p>
						<p>Ph.D. Candidate Researching with:</p>
						<a href="https://sites.google.com/view/ccats-group" style="text-transform: uppercase;">Dr. Yihan Shao (CC-ATS, OU)<br />
						</a>
						<p></p>
						<a href="https://www.lobos.nih.gov/cbs/cbs.shtml" style="text-transform: uppercase;">Dr. Bernie Brooks (LBS, NHLBI)
						</a>
				</div>
				<a href="#one" class="more scrolly">Learn More</a>
			</section>
		{{ content }}
		{% include footer.html %}
		</div>
		{% include scripts.html %}
	</body>
</html>
