<!DOCTYPE HTML>
<html>
	{% include head.html %}
	<body class="landing is-preload">
		<div id="page-wrapper">
			<header id="header" class="alt">
				{% include navigation.html %}
			</header>

			<section id="banner">
				<div class="inner">
						<h2>{{ site.author }}</h2>
						<p>Computational Biochemistry<br />
						.</p>
				</div>
				<a href="#one" class="more scrolly">Learn More</a>
			</section>

		{{ content }}
		{% include footer.html %}
		</div>
		{% include scripts.html %}
	</body>
</html>
