<!DOCTYPE HTML>
<html>
	{% include head.html %}
	<body class="landing is-preload">
		<div id="page-wrapper">
			<header id="header" class="alt">
				{% include navigation.html %}
			</header>

			<section id="banner">
				<div class="inner" style="background-color: #00000044;">
						<h2>{{ site.author }}<br />
						</h2>
						<p>Computational Biochemistry<br />
						</p>
						<p>4th Year Ph.D. Candidate researching with:</p>
						<a href="https://sites.google.com/view/ccats-group">CCATS Lab (OU)<br />
						</a>
    					<a href="https://www.lobos.nih.gov/cbs/cbs.shtml">LoBoS CBS Lab (NHLBI)</a>
				</div>
				<a href="#one" class="more scrolly">Learn More</a>
			</section>

		{{ content }}
		{% include footer.html %}
		</div>
		{% include scripts.html %}
	</body>
</html>
